.Chat {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #443d3d;
}

.MessagesList {
  flex: 1;
  overflow: auto;
  padding: 1em;
  box-sizing: border-box;
}

.ChatReply {
  background-color: #e8e8e8;
  box-shadow: 10px 0px 5px black;
}

.ChatReplyInput {
  border: 0;
  outline: 0;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}

.NoChat {
  composes: Chat;

  display: flex;
  justify-content: center;
  align-items: center;
}
