.Chat {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.MessagesList {
  flex: 1;
  overflow: auto;
}

.ChatReply {
  background-color: #e8e8e8;
  box-shadow: 10px 0px 5px black;
}

.ChatReplyInput {
  border: 0;
  outline: 0;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  padding: 1em;
}
