.Chat {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.MessagesList {
  flex: 1;
  overflow: auto;
}

.ChatReply {
  background-color: #e8e8e8;
  box-shadow: 10px 0px 5px black;
}

.ChatReplyInput {
  border: 0;
  outline: 0;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  padding: 1em;
}

.Message {
  display: flex;
  margin-bottom: 1em;
}

.Message_Self {
  composes: Message;

  flex-direction: row-reverse;
}

.MessageContent {
  flex: 1;
  background-color: green;
  padding: 1em;
  border: 1px solid #333;
}

.Message_Self .MessageContent {
  background-color: blue;
}

.MessageAvatar {
  width: 3em;
  height: 3em;
  background-color: #e8e8e8;
  margin: 1em;
  border-radius: 50%;
}
