@import 'https://file.myfontastic.com/ivntwk9NfzuGZhqtMmWDTS/icons.css';
@import 'https://fonts.googleapis.com/css?family=Indie+Flower';

.Welcome {
  text-align: center;
  padding: 3em;
}

.HelloLogo {
  position: relative;
  display: inline-block;
  margin: auto;
  color: #1a1a1a;
  font-size: 100px;
  font-family: 'Indie Flower', sans-serif;
  height: 4em;
}

.HelloLogoIcon {
  font-size: 300px;
  color: #e8e8e8;
  text-shadow: 1px 1px 3px #fff, -1px -1px 3px #fff, 1px -1px 3px #fff, -1px 1px 3px #fff;
}

.HelloLogoName {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ContentBox {
  box-sizing: border-box;
  max-width: 500px;
  margin: 2em auto;
}

.HelloChooseNickname {
  composes: ContentBox;
}

.HelloChooseNickname input {
  border: 0;
  outline: 0;
  font-size: inherit;
  font-family: inherit;
  width: 100%;

  padding: 1em;
  box-sizing: border-box;
}

.HelloStartChatting {
  composes: ContentBox;
}

.GreenButton {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  background-color: #9ea90a;
  color: #e8e8e8;
  border: 0;
  outline: 0;
  padding: 1em;
  user-select: none;
  cursor: pointer;
}
