.Message {
  display: flex;
  margin-bottom: 1em;
  padding-right: 3em;
}

.Message_Self {
  composes: Message;

  flex-direction: row-reverse;
  padding-right: 0;
  padding-left: 3em;
}

.MessageAvatar {
  width: 3em;
  height: 3em;
  background-color: #e8e8e8;
  margin: 1em;
  border-radius: 50%;
}

.Message_Self .MessageContent {
  background-color: #7676ca;
}

.MessageContent {
  flex: 1;
  background-color: #9ea90a;
  padding: 1em;
  border: 1px solid #333;
}
